[worldserver]

###
# Multiplier for experience and reputation
# Level 1 to 59
DynamicRate.Level.1-59 = 3

# Level 60 to 69
DynamicRate.Level.60-69 = 2

# Level 70 to 79
DynamicRate.Level.70-79 = 1
###
