[worldserver]

###
# Multiplier for experience
# Level 1 to 59
DynamicRate.Experience.1-59 = 3

# Level 60 to 69
DynamicRate.Experience.60-69 = 2

# Level 70 to 79
DynamicRate.Experience.70-79 = 1
###

###
# Multiplier for reputation
# Level 1 to 59
DynamicRate.Reputation.1-59 = 3

# Level 60 to 69
DynamicRate.Reputation.60-69 = 2

# Level 70 to 79
DynamicRate.Reputation.70-79 = 1
###
